@font-face {
  font-family: "Arvo";
  src: url("fonts/Arvo-Bold.ttf");
}

@font-face {
  font-family: "Nunito";
  src: url("fonts/Nunito-Bold.ttf");
}

body {
  background-color: #ffd93f;
  max-width: 375px;
  margin: auto;
  height: 100vh;
  height: -webkit-fill-available;
  height: fill-available;
  position: relative;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
  text-align: center;
}

h1 {
  font-family: "Arvo";
  letter-spacing: -0.04em;
  text-align: center;
  padding-top: 6px;
}

.title {
  font-family: "Nunito";
  font-size: 18px;
}

button {
  border: none;
  width: 100px;
  height: 40px;
  font-size: 16px;
  margin-bottom: 15px;
  background-color: #009bdf;
  color: white;
  font-family: "Nunito";
  margin-left: 2px;
  margin-right: 2px;
}

#random {
  background-color: #009bdf;
  border-radius: 25px;
  font-family: "Nunito";
  font-size: 16px;
  color: white;
  text-decoration: none;
  padding: 9px 20px;
  margin: 6px;
}

#save {
  background-color: #009bdf;
  border-radius: 25px;
  font-family: "Nunito";
  font-size: 16px;
  color: white;
  text-decoration: none;
  padding: 9px 30px;
  margin: 6px;
  cursor: default;
}

.selected {
  background-color: #ed0080;
  color: white;
}

#preview {
  width: 316px;
  height: 200px;
  margin-top: 0px;
  margin-bottom: 20px;
  background-color: #009bdf;
}

#function-buttons {
  margin-top: 20px;
}
